$background: #ccc;
$header: #444;

body {
  background: $background;
}

.header {
  background: $header;
  padding: 20px;
}

.header h1 {
  color: pink;
  font-weight: 300;
}

.container {
}

#teddy {
  width: 80px;
}