$background: #ccc;
$header: #444;

body {
  background: $background;
  min-width: 400px;
}

.header {
  background: $header;
  padding: 20px;
}

.header h1 {
  color: pink;
  font-weight: 300;
  font-size: 3em;
}

.container {
}

#teddy {
  width: 100px;
  padding: 10px 30px 0 0;
}